<title>
    <%= title %>
</title>

<!-- Load script at top because angular has to be loaded before it can template the page -->
<script src="/angular/angular.min.js"></script>
<!-- Angular router -->
<script src="/angular/angular-route.min.js"></script>

<script src="javascripts/angular-app.js"></script>

<script src="angular/angular-sanitize.min.js"></script>

<script src="javascripts/controller.js"></script>

<link rel="stylesheet" href="/stylesheets/style.css" />
