<article class="artworklist">
    <h1>Artwork on Display</h1>

    <p>While you attend the confrence, head over to our gallery where you can check</p>

    <div class="pixgrid">
        <% if (artwork.length > 0) { %>
            <% for(i=0; i < artwork.length; i++) {%>
                <img src="/images/artwork/<%= artwork[i] %>" alt="">
            <% } %>
        <% } %>
    </div>
</article>
